#mainbody{
	float: left;
	width: 1200px;
	height: 100%;
}
#addexam{
	text-align: center;
	background: bisque;
	margin-left: 200px;
	width: 800px;
	height: 220px;
	border-radius:15px ;
	border: 1px solid black;
}
#addexamdiv{
	width: 200px;
	height: 150px;
	margin-left: 300px;
	text-align: center;

}
#showexam{
	border-radius:15px ;
	margin-top: 20px;
	text-align: center;
	background: bisque;
	margin-left: 200px;
	width: 800px;
	height: 500px;
	border: 1px solid black;
}
